{
	email {$ACME_EMAIL}
}

{$DASHBOARD_DOMAIN} {
	encode gzip

	log {
		output stdout
		format json
	}

	handle /api/* {
		reverse_proxy api:8000
	}

	handle /health/* {
		reverse_proxy api:8000
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
